.box .navbar .navbar-brand {
    font-size: 35px;
}

.box .navbar .navbar-brand img{
  position: relative;
  top: -3px;
  left: 3px;
}

.bgimg{
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/bg.jpg');
	height: auto;
	background-size: cover;
	background-position: center;
}

.textedit a{
	text-decoration: none;
	color: #00ffff;
	font-family: 'Play', sans-serif;
}

.textedit a:hover{
	color: #006666;
}